body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 13px;
    /* font-family: 'https://fonts.googleapis.com/css?family=Open+Sans:400,600', sans-serif; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ////////////////////////changable */

.h-header {
    height: 50px;
}

.w-left {
    width: 200px;
}

.w-right {
    width: 300px;
}

.border-color {
    border-color: rgba(0, 0, 0, 0.15);
}

.bg-primary {
    background: #2ecc71;
}

.bg-danger {
    background: #e74c3c;
}

.bg-message-text {
    background: #2c3e50;
}

.me .bg-message-text {
    background: #2ecc71;
}

.body-color {
    color: #2c3e50;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.app-messenger {
    display: flex;
    flex-direction: column;
}

/* ///////////////////////////// header */

.app-messenger .header {
    /* height: 50px; */
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /* flex-direction: row; */
}

.app-messenger .header .header-left {

}

.header-left .actions {
    line-height: 50px;  /* @header-height */ /* change this */
    padding: 0 10px
}

.app-messenger .header .header-right {

}

.header-right .user-bar {
    display: flex;
    justify-content: flex-end; /* for align right */
    padding: 0 10px;
    line-height: 50px;  /* @header-height */ /* change this */
}

.user-bar .profile-name {
    padding-right: 10px;
}

.user-bar .img-profile {
    line-height: 50px;  /* @header-height */ /* change this */
}

.img-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 0 0 0;
}

.app-messenger .header .header-content {
    flex-grow: 1;   /* for responsive */
}

.header-content h2 {
    line-height: 50px;  /* @header-height */ /* change this */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* /////////////////////////////main */

.app-messenger .main {
    display: flex;
    height: 100%;
    overflow: hidden;
}

/* ///////////////////////////////main left */

.app-messenger .main .left-sidebar {
    /* width: 200px; */
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.left-sidebar .channels .channel {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.channel .channel-info {
    flex-grow: 1;
    padding-left: 8px;
}

.user-image {
    width: 40px;
}

.user-image img{
    margin-top: 20px;
    margin-left: 4px;
}

.channel-info h2 {
    font-size: 14px;
    font-weight: 600;
}

.channel .channel-info p {
    font-size: 12px;
}

/* //////////////////////////main right */

.app-messenger .main .right-sidebar {
    /* width: 300px; */
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.right-sidebar .members .member {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.member .member-info {
    flex-grow: 1;
    padding-left: 8px;
}

.right-sidebar .member {
    display: flex;
}

.member .member-info h2 {
    font-size: 14px;
    font-weight: 600;
}

.member .member-info p {
    font-size: 12px;
}

.right-sidebar .title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
}

.right-sidebar h2.title{
    font-size: 16px;
    font-weight: 600px;
    text-align: center;
}

/* //////////////////////////main content */

.app-messenger .main .content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
}

.messages .message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
}

.message .message-body {
    padding-left: 10px;
}

.message-body .message-text {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.message-text p {
    margin: 0 !important;
}

.me {
    justify-content: flex-start !important;
}

.app-messenger .main .content .messenger-input{
    height: 50px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.15);;
}

.messenger-input .text-input {
    flex-grow: 1;
    
}

.messenger-input .text-input textarea{
    border: 0 none;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
}

button.send {
    /* padding: 7px 15px; */
}
