$header-height: 50px;
$left-sidebar-width: 300px;
$right-sidebar-width: 300px;
$border-color: rgba(0, 0, 0, 0.05);
$primary-color: #d6d6d687;    // find in flatcolor
$secondary-color: #3498db;
$danger-color: #e74c3c;
$body-color: #2c3e50;